.editable-table {
	.headers {
		width: 100%;
		display: flex;
		height: 50px;

		.expand-items {
			flex: 1;
			min-width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.items {
			flex: 14;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}

	.table {
		width: 100%;

		.table-item {
			display: flex;
			box-shadow: 2px 2px 5px lightgrey;
			margin-top: 10px;
			margin-bottom: 10px;

			.items {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				flex: 14;

				.item {
					min-width: 100px;
					text-justify: center;
	
	
					.tbl-itm-img {
						margin: 10px;
					}
				}
			}

			.action {
				display: flex;
				justify-content: center;
				align-content: center;
				flex: 1;

				.action-btn {
					height: 16px;
					display: block;
					margin: auto;
				}
			}

		}
	}
}